<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title></title>
	<link rel="stylesheet" href="./css/basic.css">
	<link rel="stylesheet" href="./css/index.css">
	<script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head">
		<a href="##" class="logo"><img src="./images/logo.png" alt=""></a>
		<div class="management_center">用户管理中心</div>
		<ul class="nav">
			<li class="on"><a href="##">会员信息</a></li>
			<li><a href="##">我的服务</a></li>
			<li><a href="##">我的订单</a></li>
			<li><a href="##">财务管理</a></li>
			<li><a href="##">售后支持</a></li>
			<li><a href="##">询盘管理</a></li>
		</ul>
		<div class="user_help">
			<a href="##">用户中心</a>
			<a href="##">帮助中心</a>
			<div class="user"><img src="./images/user_icon.png" alt=""></div>
		</div>
	</div>
	<!-- 主体 -->
	<div class="main clearfix">
		<!-- 左边 -->
		<div class="main_lf">
			<div class="title">账户管理</div>
			<ul class="lf_nav">
				<li class="active"><a href="##" style="background-image: url(./images/modify_icon.png);">修改基本资料</a></li>
				<li><a href="##" style="background-image: url(./images/security_icon.png);">管理安全信息</a></li>
				<li><a href="##" style="background-image: url(./images/invoice_icon.png);">索取发票</a></li>
				<li><a href="##" style="background-image: url(./images/contacts_icon.png);">联系人管理</a></li>
			</ul>
		</div>

		<div class="main_rg">
			<!-- 中间 -->
			<div class="main_content">
				<div class="notice">
					<span>公告：路外通平台正式上线了！</span>
				</div>
				<div class="service">
					<div class="service_top">应用服务</div>
					<ul class="clearfix">
						<li><a href="##">
							<img src="./images/website_img.png" alt="">
							<span>云网站</span>
						</a></li>
						<li><a href="##">
							<img src="./images/translate_img.png" alt="">
							<span>云翻译</span>
						</a></li>
						<li><a href="##">
							<img src="./images/seo_img.png" alt="">
							<span>云优化</span>
						</a></li>
						<li><a href="##">
							<img src="./images/extension_img.png" alt="">
							<span>云推广</span>
						</a></li>
						<li><a href="##">
							<img src="./images/domain_img.png" alt="">
							<span>域名</span>
						</a></li>
					</ul>
				</div>
				<div class="order">
					<div class="order_top">订单</div>
					<table  cellspacing="0" >
						<tr>
							<th width="29.6%" style="padding-left: 30px;">订单号</th>
							<th width="15.9%">产品名称</th>
							<th width="16%">金额</th>
							<th width="17%">状态</th>
							<th width="15.2%">创建时间</th>
							<th width="6.3%"></th>
						</tr>
						<tr>
							<td style="padding-left: 30px;">OR20161090902351774</td>
							<td>云网站</td>
							<td><span>￥3000元</span></td>
							<td>新签</td>
							<td>2016-10-19</td>
							<td><a href="##">详细</a></td>
						</tr>
					</table>
				</div>
				<div class="after_service">
					<div class="after_service_top">售后服务</div>
					<table  cellspacing="0" >
						<tr>
							<th width="34.8%" style="padding-left: 30px;">标题</th>
							<th width="26.4%">所属类别</th>
							<th width="32.8%">创建时间</th>
							<th width="6%"></th>
						</tr>
						<tr>
							<td style="padding-left: 30px;">如何管理工单？</td>
							<td>售后服务</td>
							<td>2014-11-28 00:00</td>
							<td><a href="##">详细</a></td>
						</tr>
						<tr>
							<td style="padding-left: 30px;">如何管理工单？</td>
							<td>售后服务</td>
							<td>2014-11-28 00:00</td>
							<td><a href="##">详细</a></td>
						</tr>
						<tr>
							<td style="padding-left: 30px;">如何管理工单？</td>
							<td>售后服务</td>
							<td>2014-11-28 00:00</td>
							<td><a href="##">详细</a></td>
						</tr>
						<tr>
							<td style="padding-left: 30px;">如何管理工单？</td>
							<td>售后服务</td>
							<td>2014-11-28 00:00</td>
							<td><a href="##">详细</a></td>
						</tr>

						<tr>
							<td style="padding-left: 30px;">如何管理工单？</td>
							<td>售后服务</td>
							<td>2014-11-28 00:00</td>
							<td><a href="##">详细</a></td>
						</tr>
					</table>
				</div>
			</div>
			<!-- 右边 -->
			<div class="main_rightmost">
				<img src="./images/portrait.jpg" alt="">
				<span>您的客户经理：李家扣</span>
				<span>联系方式：18956983285</span>
				<span>联系邮箱：qifanweb@qifan.com</span>

			</div>
		</div>
	</div>
	
</body>
</html>